@import 'fonts';
@import 'variables';
@import 'mixins';


* {
  box-sizing: border-box; 
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	color: $universalWhite;
}

.side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	padding: 10px;

	.character {
		position: absolute;
		height: 80vw;
		width: 80vw;
		border-radius: 50%;
		background-color: white;
		margin-top: 17.5vw;
		background-repeat: no-repeat;

		@include breakpoint(tablet) {
			height: 35vw;
			width: 35vw;
			align-self: flex-start;
			margin-left: 5.3vw;
		}
	}

	.copy {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(tablet) {
			align-self: flex-end;
		}
	}
}

.name, .bold {
	font-family: tarrgetplatital;

	@include breakpoint(tiny) {
		font-family: 'Helvetica', 'Arial', sans-serif;
	}
}

.details {
	text-align: center;

	.bold {
		font-size: 10vw;
		letter-spacing: 1vw;
		word-wrap: break-word;

		@include breakpoint(tiny){
			font-size: 12vw;
		}

		@include breakpoint(phablet){
			font-size: 8vw;
		}

		@include breakpoint(tablet) {
			font-size: 4vw;
			width: $threeQuartersWidth;
			text-align: right;
			margin-right: 15vw;
		}
	}

	.bullet-point {
		margin-bottom: 10vw;
		font-family: lato-light;
		font-style: italic;
		font-weight: 100;
		font-size: 8vw;

		@include breakpoint(tiny){
			font-family: 'Helvetica', 'Arial', sans-serif;
			font-style: initial;
			font-size: 10vw;
		}

		@include breakpoint(phablet){
			font-size: 6vw;
			margin-bottom: 5vw;
		}

		@include breakpoint(tablet) {
			width: $threeQuartersWidth;
			font-size: 4vw;
			text-align: right;
			margin-right: 15vw;
		}

	}

	@include breakpoint(phablet){
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 90vw;
	}

	@include breakpoint(tablet) {
		align-self: flex-end;
		height: 55vw;
	}

	@include breakpoint(laptop) {
		height: 60vw;
	}
}

.name {	
	font-size: 12vw;
	transform: translate(-2vw);
	line-height: 16vw;
	letter-spacing: 1vw;

	@include breakpoint(tiny){
		font-size: 14vw;
		text-decoration: underline;
	}

	@include breakpoint(tablet) {
		width: 100%;	
		transform: none;
	}

	@include breakpoint(tablet) {
		font-size: 10vw;
	}
}

.spacer {
	height: 85vw;
	width: 100vw;

	@include breakpoint(tablet) {
		display: none;
	}
}

.carl-side {
	background-color: $carlGrey;

	.character{
		background-color: $carlOrange;
	}
}

.gopher-side {
	background-color: $gopherGrey;

	.character {
		background-color: $gopherBlue;
	}
}

.carl {
	background-image: url('../img/carl.png');
	background-size: 110%;
}

.gopher {
	background-image: url('../img/gopher.jpg');
	background-size: auto 100%;
	background-position: center;
}

.navigation {
	@include breakpoint(tablet) {
		// padding: initial;	
		// transform: translate(-10vw);
	}
}

.versus {
	
	border: 1.5vw solid $universalWhite;
	padding: 1vw;
	padding-right: 13vw;

	font-size: 20vw;
	transform: translate(-1vw);
	
	&:hover {
		background-color: $universalWhite;
		color: $fightRed;
		border-color: $fightRed;
	}

	@include breakpoint(tiny) {
		border-width: 3vw;
	}

	@include breakpoint(tablet) {
		border-width: 1vw;
	}

	@include breakpoint(tablet) {
		padding: 0.5vw;
		padding-right: 7.5vw;
		font-size: 10vw;
	}
}

.invisible {
	display: none;
}









